
<head>
  <meta charset="utf-8" />

  <title>MY PROFILE</title>
</head>


<div id="bloc_page">


  <div id="banniere_image">
    <div id="banniere_description">
      <a href="#" > {{number}} Tweets</a>
      <a (click)="showAllMyfollwers(user)"  > {{numberOffollowers}} Abonnées</a>
      <a  (click)="showAllPeopleFollowBy(user)" > {{numberIfollow}} Abonnements</a>
    </div>
  </div>
<div class="">
    <div class="col-xs-4">
        <p>Mes abonnements</p>
        <ul *ngFor="let people of allPeopleFollowBy">
          <li>{{people}}</li>
        </ul>
      </div>
      
      <div class="col-xs-4">
        <p>Mes Abonnées</p>
        <ul *ngFor="let p of allPeopleMyFollowers">
         <li>{{p}}</li>
       </ul>
       </div>
      
       <div class="col-xs-4">
        <p>Hashtags</p>
          <input type="text" class="form-group" [(ngModel)]="searchValue.content"/>
          <button (click)="search(search.content)">Search</button>
      </div>
</div>

<div class="row">
  <div *ngFor="let result of searchValue">
    <div class="form-group">
      {{result}}
    </div>
  </div>
</div>


<div> 

  <footer>
    <div id="tweet">
      <h1>Mes derniers tweets</h1>
      <ul *ngFor="let last of lastTweet">
        <li><a href="#">{{last}}</a></li>
      </ul>

    </div>
    <div id="mes_amis">
      <h1>Suggestions</h1>
      <div id="listes_amis">
   
        <!-- <ul *ngFor="let suggestion of listSuggestions">
          <li>(click)="addFollowing(suggestion)" {{suggestion}}</li>
        </ul> -->

         <!-- <ul *ngFor="let suggestion of listOfSugestion">
          <li><a   (click)="addFollowing(suggestion)" >{{suggestion}}</a></li>
        </ul>  -->
        <table>
          <tr *ngFor="let suggestion of listOfSugestion">
            <div class="form-group">
                <td><button   class="btn btn-primary" (click)="addFollowing(suggestion)" >{{suggestion}}</button></td>

            </div>

          </tr> 
        </table>
      </div>

    </div>
  
  </footer>
</div>
</div>