<div class="">
    <h1>Hi {{currentUser.firstName}}!</h1>
    <!--<h3>All registered users:</h3>-->
    <!--<ul>-->
        <!--<li *ngFor="let user of users">-->
            <!--{{user.username}} ({{user.firstName}} {{user.lastName}})-->
            <!-- - <a (click)="deleteUser(user.id)">Delete</a>-->
        <!--</li>-->
    <!--</ul>-->

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">New tweet</h3>
        </div>
        <div class="panel-body">
            <textarea id="newTweet" class="form-control " rows="3" style="resize:none;"[(ngModel)]="description" name="description"></textarea>
        </div>
        <div class="input-group-append">
            <button (click)="postTweet()" class="btn btn-primary" [disabled]="!description" >Post</button>
        </div>
        <div class="panel-footer"></div>
    </div>

    <h2 style="text-align: center">what's up ?</h2>

    <div class="panel panel-primary" *ngFor="let tweet of formData.tweets">
        <div class="panel-heading">
            <h3 class="panel-title">{{currentUser.firstName}}</h3>
        </div>

        <div class="panel-body">
            <span>{{tweet.description}}</span>
        </div>
        <div class="panel-footer"></div>
    </div>
</div>