<div class="">
    <h1>Hi {{currentUser.firstName}}!</h1>
    <!--<h3>All registered users:</h3>-->
    <!--<ul>-->
        <!--<li *ngFor="let user of users">-->
            <!--{{user.username}} ({{user.firstName}} {{user.lastName}})-->
            <!-- - <a (click)="deleteUser(user.id)">Delete</a>-->
        <!--</li>-->
    <!--</ul>-->

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">New tweet</h3>
        </div>
        <div class="panel-body">
            <textarea id="newTweet" class="form-control " rows="3" style="resize:none;"[(ngModel)]="model.content" name="description"></textarea>
        </div>
        <div class="panel-footer"></div>
    </div>
    <div class="panel panel-primary" *ngFor="let tweet of formData">
        <div class="panel-heading">
            <h3 class="panel-title">{{tweet}}</h3>
        </div>
        <!-- <div class="panel-body">
            <span>{{tweet.description}}</span>
        </div> -->
        <div class="panel-footer"></div>
    </div> 

    <div class="panel panel-primary" *ngFor="let tab of tabFollowing">
        <div class="panel-heading">
            <h3 class="panel-title">{{tab}}</h3>
        </div>
        <!-- <div class="panel-body">
            <span>{{tweet.description}}</span>
        </div> -->
        <div class="panel-footer"></div>
    </div> 

    <button (click)="postTweet(model)" class="btn btn-primary">Post</button>

</div>